.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Main-view{
  width: 450px;
  margin: 50px auto;
  border-radius: 2px;
  background: #fff;
  padding-bottom: 30px;
}

.Login-btn{
  width: 300px;
  margin-top: 20px;
}

.Login-bg{
  height: 160px;
  width: 100%;
  position: relative;
  top: 50px;
/*  background-image: url("image/login.png") ;
  background-size: cover;*/
}

.Login-bg .Login-title{
  color: #0f88eb;
  font-size: 45px;
  font-family: STXinwei,microsoft yahei;
}

.Login-title2{
  color: #0f88eb;
  font-size: 22px;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

body{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image:url("image/loginBg.png") ;
  color: #fff;
}

.ant-layout-header{
  background: #2DC3E8!important;
}

.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
}
.gutter-box {
  padding: 5px 0;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  height: 200px;
}

.gutter-example h2{
  color: #000;
  font-size: 20px;
  margin-top: 10px;
}

.gutter-example h3{
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 7px;
}

.gutter-box-div{
  text-align: center;
}



.ant-input-disabled{
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9);
}

textarea.ant-input{
  width: 175px;
  height: 154px;
}

.imgPhoto{
  margin-bottom: 18px;
  border: 1px solid #dcdc;
  width: 150px;
  height: 108px;
  margin-left: 68px;
}